

<style>

    .btnDefault {
        font-size: .8rem;
    }

    .ulLoadList {
        font-size: .8rem;
        font-weight: 500;
    }

    .divResulJS {
        word-break: break-all;
    }
    
</style>


<div class="container">
    <h2>Отладчик web api для пациентов</h2>


    <div>
        <h3>Результаты <button class="py-0 px-2 btnDefault" id="BtnClearResul">Clear </button> </h3>
        <div class="divResulJS" style="min-height:5rem; background:#f9f6e8">
            <p>Размещение полученных данных</p>
        </div>
    </div>


    <div class="border-top border-bottom border-dark mt-2 py-2" style="background:#edfbfd">
        <h4>Список пациентов  /api/list/patients/page/sort</h4>

        <div class="form-group">
            <div>
                <h6>Доступные идентификаторы сортировки:</h6>
                <ul class="ulLoadList">
                    <li>DATEBIRTH</li>
                    <li>SERNAME</li>
                    <li>ADDRESS</li>
                </ul>
            </div>

            <label>Укажите номер страницы и строку сортировки  пример: /1/adress </label>
            <input class="form-control" id="txt_pathLoadList" type="text" placeholder="/page/sort" />
        </div>

        <button id="btnLoadList" class="btnDefault">Загрузить</button>

    </div>


    <div class="mt-2 border-top border-bottom border-dark mt-2 py-2" style="background: #edfbfd">
        <h4>Добавление пациента</h4>

        <div class="form-group">

            <label>Заполнить шаблон, не нарушая структуру (Pol false-> женский true-> мужской)</label>
            <input class="form-control" id="txt_AddPatient" type="text"
                   value='{"Sername": " ", "FirstName": " ", "LastName": " ", "Address": " ", "DateBirth": "1970-11-30", "Pol": false , "SectorId": 1}' />
        </div>
        <button class="btnDefault" id="btnAddPatient">Добавить пациента</button>
    </div>


    <div class="mt-2 border-top border-bottom border-dark mt-2 py-2" style="background: #edfbfd">
        <h4>Изменение пациента</h4>

        <div class="form-group">

            <label>Загрузить пациента, затем изменить шаблон</label>
            <input class="ml-2" id="txt_LoadPatient" type="text" style="width:5rem;" />
            <button class="btnDefault" id="btnLoadPatient">Загрузить</button>

            <input class="form-control mt-1" id="txt_UpdPatient" type="text" />
        </div>
        <button class="btnDefault" id="btnUpdPatient">Изм. данные пациента</button>


    </div>


    <div class="mt-2 border-top border-bottom border-dark mt-2 py-2" style="background: #edfbfd">
        <h4>Удаление пациента</h4>

        <div class="form-group">

            <label>PatientId</label>
            <input class="ml-2" id="txt_DelPatient" type="text" style="width:5rem;" />  <span id="spanInfoDel"></span>          
        </div>

        <button class="btnDefault" id="btnDelPatient">Удалить пациента</button>

    </div>

</div>

@section Sript{
    <script>
        (function ($) {
            $(document).ready(function () {

                let divResulJS = $('.divResulJS');

                function ClearDivResult() {
                    divResulJS.empty();
                }


                $('#btnDelPatient').click(() => {

                    let spanInfoDel = $('#spanInfoDel');

                    spanInfoDel.text('');


                    let txtDelPatient = $('#txt_DelPatient').val();

                    if (txtDelPatient == '') return; 

                    let path = '/api/patients/' + txtDelPatient;

                    $.ajax(path, {
                        type: 'DELETE',
                        dataType: 'json',
                        success: (data) => {
                            spanInfoDel.text('patientId:' + txtDelPatient + ' УДАЛЕН' );
                        }

                    });
                    
                });


                $('#BtnClearResul').click(() => {
                    ClearDivResult();
                });


                $('#btnUpdPatient').click(() => {
                    let txtUpdPatient = $('#txt_UpdPatient').val();


                    if (txtUpdPatient == '') return; 

                    let data = JSON.parse(txtUpdPatient);

                    let path = '/api/patients';


                    $.ajax(path, {
                        type: 'PUT',
                        data: data,
                        dataType: 'json',
                        success: (data) => {
                            console.log(data);
                        }
                    });

                });


                $('#btnLoadPatient').click(() => {
                    let txtLoadPatient = $('#txt_LoadPatient').val();

                    if (txtLoadPatient == '') return; 

                    let path = '/api/patients/' + txtLoadPatient;

                    $.ajax(path, {
                        type: 'GET',
                        dataType: 'json',
                        success: (data) => {

                            let str = JSON.stringify(data);

                            $('#txt_UpdPatient').val(str);
                        }

                    });

                });


                $('#btnAddPatient').click(() => {

                    let txtAddPatient = $('#txt_AddPatient').val();

                    let path = '/api/patients';
                    let data = JSON.parse(txtAddPatient);

                    $.ajax(path, {
                        type: 'POST',
                        data: data,
                        dataType: 'json',
                        success: (data) => {

                            ClearDivResult();

                            divResulJS.append($('<h5>Добавленный пациент</h5>'));

                            let ul = $('<ul></ul>');
                            
                            ul.append($('<li></li>').text('PatientId:' + data.PatientId));
                            ul.append($('<li></li>').text('Sername:' + data.Sername));
                            ul.append($('<li></li>').text('FirstName:' + data.FirstName));
                            ul.append($('<li></li>').text('LastName:' + data.LastName));
                            ul.append($('<li></li>').text('Address:' + data.Address));

                            ul.append($('<li></li>').text('DateBirth:' + data.DateBirth));

                            ul.append($('<li></li>').text('Pol:' + data.Pol));
                            ul.append($('<li></li>').text('SectorId:' + data.SectorId));


                            divResulJS.append(ul);

                                //text(str);
                        }

                    });


                });


                $('#btnLoadList').click(() => {

                    let txt_pathLoadList = $('#txt_pathLoadList').val();

                    let path = '/api/list/patients';
                    if (txt_pathLoadList != '')
                        path += txt_pathLoadList;

                    $.ajax(path, {

                        type: 'GET',
                        dataType: 'json',
                        success: (data) => {

                            ClearDivResult();

                            divResulJS.append($('<h5>Список пациентов</h5>'));
                            
                            let ul = $('<ul></ul>');

                            let i = 0;
                            for (i; i < data.length; i++) {
                                let s = JSON.stringify(data[i]);

                                ul.append();
                                ul.append($('<li></li>').text(s));                                
                            }


                            divResulJS.append(ul);
                        }
                    });

                });



            })
        })(jQuery);

    </script>

}





